body {
  background-color: white;
}

.loginpage {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.loginbox {
  height: 600px;
  width: 600px;
  margin-top: 6%;
  margin-left: 4%;
  margin-right: auto;
  align-items: center;
}

.loginbox h1 {
  color: black;
  width: 60%;
  margin: auto;
  font-size: 40px;
}

.loginform {
  padding-top: 150px;
  height: 600px;
  width: 100%;
  text-align: center;
}

.formtype {
  color: black;
  font-size: 35px;
  margin-bottom: 50px;
}

input {
  background-color: rgb(208, 208, 208);
  padding: 10px;
  border: none;
  width: 50%;
  border-radius: 5px;
}

input[type="button"] {
  background-color: rgb(208, 208, 208);
  color: rgb(0, 0, 0);
  width: auto;
  font-size: medium;
  font-weight: 900;
  font-family: sans-serif;
  padding: 6px 16px;
  border: none;
  border-radius: 1000px;
  cursor: pointer;
}

.loginform a {
  text-decoration: none;
  color: rgb(27, 114, 253);
}

.loginform a:hover {
  text-decoration: none;
  color: rgb(6, 194, 251);
}

.cards {
  width: 1000px;
  height: 1000px;
  overflow: hidden;
  /* float: left; */
  /* margin-right: -500px; */
  margin-top: -160px;
}

.card1 {
  height: 100%;
  width: 100%;
  margin-left: 25%;
  /* margin-top: -150px; */
  border-radius: 15px;
  background-color: rgb(104 154 255);
  /* transform: rotate(45deg); */
  rotate: 45deg;
  /* float: right; */
  position: relative;
  z-index: 1;
}

.card1:hover {
  box-shadow: 12px 12px 35px rgba(156, 156, 156, 0.701);
  transform: scale(1.001);
}

.card2 {
  height: 100%;
  width: 100%;
  margin-left: 30%;
  position: relative;
  margin-top: -777px;
  border-radius: 15px;
  background-color: rgb(102 152 255 / 58%);
  /* transform: rotate(45deg); */
  rotate: 45deg;
  z-index: 0.1;
  /* float: right; */
}

.card2:hover{
  box-shadow: 12px 12px 50px rgb(194, 194, 194);
}

.card3 {
  height: 100%;
  width: 100%;
  position: relative;
  margin-left: 30%;
  margin-top: -1507px;
  border-radius: 15px;
  background-color: rgb(102 152 255 / 58%);
  /* transform: rotate(45deg); */
  rotate: 45deg;
  z-index: 0.2;
  /* float: right; */
}

.card3:hover {
  box-shadow: 12px 12px 50px rgb(194, 194, 194);
}
